In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../../main/sub_data/single_variant/sin_ndlc_psp.csv")

In [3]:
df

      Unnamed: 0        Date  Max.Demand met during the day (MW)
0              0  2013-04-01                              2776.0
1              1  2013-04-02                              3034.0
2              2  2013-04-03                              2991.0
3              3  2013-04-04                              3125.0
4              4  2013-04-05                              3160.0
...          ...         ...                                 ...
3708        3708  2023-05-27                              5051.0
3709        3709  2023-05-28                              4780.0
3710        3710  2023-05-29                              4782.0
3711        3711  2023-05-30                              4871.0
3712        3712  2023-05-31                              4462.0

[3713 rows x 3 columns]

In [4]:
df.isnull().sum()

Unnamed: 0                             0
Date                                   0
Max.Demand met during the day (MW)    73
dtype: int64

In [5]:
null_dates = []
for i in range(len(df)):
    if pd.isnull(df.iloc[i][2]):
        null_dates.append(df.iloc[i][0])

In [6]:
null_dates

[60,
 64,
 89,
 118,
 136,
 150,
 151,
 167,
 173,
 176,
 198,
 762,
 824,
 833,
 834,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1072,
 1088,
 1090,
 1741,
 2235,
 2388,
 2408,
 2410,
 2419,
 2480,
 2511,
 2512,
 2572,
 2662,
 2663,
 2694,
 2724,
 2767,
 2784,
 2815,
 2816,
 3270,
 3271,
 3286,
 3353,
 3454,
 3455]

## Mean Imputation

In [7]:
df_mean = df.fillna(df["Max.Demand met during the day (MW)"].mean())

In [8]:
df_mean.isnull().sum()

Unnamed: 0                            0
Date                                  0
Max.Demand met during the day (MW)    0
dtype: int64

In [9]:
df_mean.iloc[null_dates[0]]

Unnamed: 0                                     60
Date                                   2013-05-31
Max.Demand met during the day (MW)    4356.582692
Name: 60, dtype: object

## Median Imputation

In [10]:
df_median = df.fillna(df["Max.Demand met during the day (MW)"].median())

In [11]:
df_median.isnull().sum()

Unnamed: 0                            0
Date                                  0
Max.Demand met during the day (MW)    0
dtype: int64

In [12]:
df_median.iloc[null_dates[0]]

Unnamed: 0                                    60
Date                                  2013-05-31
Max.Demand met during the day (MW)        4182.0
Name: 60, dtype: object

## Mode Imputation

In [13]:
df_mode = df.fillna(df["Max.Demand met during the day (MW)"].mode().iloc[0])

In [14]:
df_mode.isnull().sum()

Unnamed: 0                            0
Date                                  0
Max.Demand met during the day (MW)    0
dtype: int64

In [15]:
df_mode.iloc[null_dates[0]]

Unnamed: 0                                    60
Date                                  2013-05-31
Max.Demand met during the day (MW)        3309.0
Name: 60, dtype: object

## Save all those as CSV

In [16]:
df_mean.to_csv("../../../main/sub_data/single_variant/sin_ndlc_psp_mean.csv")
df_median.to_csv("../../../main/sub_data/single_variant/sin_ndlc_psp_median.csv")
df_mode.to_csv("../../../main/sub_data/single_variant/sin_ndlc_psp_mode.csv")