In [1]:


'''
Author :  Sujay
Definition : An Automation System to convert PDF's to Data

Data Extracted :

    1. Date (DD/MM/YYYY)	
    2. Max.Demand met during the day (MW)	
    3. Shortage during maximum Demand (MW)	
    4. Energy Met (MU)	
    5. Drawal Schedule(MU)	
    6. OD(+)/UD(-) (MU) 
    7. Max OD (MW)	
    8. Energy Shortage (MU)

'''

# Update - 0.1
'''
    - No need to convert to txt file
    - Extracting Region Data
''' 

import pandas as pd
import numpy as np
import PyPDF2
import os


# Defining File Paths Here
folder_path = "valid/"
processed_path = "txt_valid/"


# State for which demand can be found
state = "Delhi"


'''
    - Converts the PDFs to .txt files 
    - Only converts 2nd page of PDF to text (less space)
    - Path From  : raw_data/* (all)
    - Path to : processed_data/* (all)
'''
def pdf_conversion(file):
    org_path = folder_path+file
    processing = processed_path+file[0:8]+".txt"
    pdffileobj=open(org_path,'rb')
    pdfreader=PyPDF2.PdfReader(pdffileobj)
    x=len(pdfreader.pages)
    if x>1:
        pageobj=pdfreader.pages[1]
        pageobj1 = pdfreader.pages[0]
        text=pageobj.extract_text()
        text = text + pageobj1.extract_text()
    else:
        pageobj = pdfreader.pages[0]
        text=pageobj.extract_text()
    
    # Make a Txt File
    file1=open(processing ,"a")
    file1.writelines(text)
    file1.close()
    pdffileobj.close()



'''
    - Extract the Data from the .txt files (Constant Time Complexity - reduced file size)
    - Only extracts the particular data from the length from x to x'
    - Path From  : processed_data/* (all)
    - Returns an array of Strings : []
'''
def extract_info(file):
    contents = ""
    file_path = processed_path+file
    myfile = open(file_path, "rt") 
    contents = myfile.read()       
    myfile.close()       
    # Find the Substring index from the file
    x = 0    
    if "Delhi" in contents:
        x = contents.index(state)

    stri = ""
    s = []
    s.append(file[0:8].replace('.','/'))
    sd = ""
    while stri != "\n" and x<len(contents):
        if stri == " ":
            s.append(sd)
            sd = contents[x]
        else:
            sd = sd + contents[x]
        stri = contents[x]
        x = x+1
    sd = sd[:4]
    s.append(sd)
    return s

In [2]:
files = os.listdir("valid/")
files.remove(".DS_Store")

In [3]:
print(len(files))

30

In [4]:
data = []

for file in files:
    pdf_conversion(file)

In [5]:
processed_files = os.listdir(processed_path)

In [6]:
for file in processed_files:
    data.append(extract_info(file))

In [7]:
#print(len(data),len(files),len(processed_files))
assert len(data) == len(files)

In [8]:
df = pd.DataFrame(data)

In [9]:
df[0].apply(lambda row : row.replace('/','-'))

0     04-06-23
1     10-06-23
2     25-06-23
3     09-06-23
4     28-06-23
5     23-06-23
6     02-06-23
7     16-06-23
8     11-06-23
9     05-06-23
10    24-06-23
11    30-06-23
12    08-06-23
13    29-06-23
14    22-06-23
15    17-06-23
16    03-06-23
17    27-06-23
18    06-06-23
19    12-06-23
20    14-06-23
21    21-06-23
22    19-06-23
23    26-06-23
24    13-06-23
25    07-06-23
26    15-06-23
27    01-06-23
28    20-06-23
29    18-06-23
Name: 0, dtype: object

In [10]:
df['date'] = pd.to_datetime(df[0],format='%d/%m/%y')

In [11]:
df = df.sort_values('date')

In [12]:
df

           0       1      2   3       4       5      6     7     8       date
27  01/06/23  Delhi   4298   0    88.6    86.4   -2.8   125   0.00 2023-06-01
6   02/06/23  Delhi   4567   0    94.0    90.7   -2.5    56   0.00 2023-06-02
16  03/06/23  Delhi   4618   0    98.0    94.3   -2.3   135   0.00 2023-06-03
0   04/06/23  Delhi   4805   0    97.6    92.9   -1.4   115   0.00 2023-06-04
9   05/06/23  Delhi   5493   0   110.0   105.4   -1.7    65   0.00 2023-06-05
18  06/06/23  Delhi   5511   0   113.7   107.9   -2.2   161   0.01 2023-06-06
25  07/06/23  Delhi   5664   0   116.1   105.9   -2.8   183   0.00 2023-06-07
12  08/06/23  Delhi   5971   0   121.2   110.2   -1.9   120   0.00 2023-06-08
3   09/06/23  Delhi   6387   0   126.4   116.6   -1.9   190   0.00 2023-06-09
1   10/06/23  Delhi   6285   0   126.2   116.0   -2.5    64   0.00 2023-06-10
8   11/06/23  Delhi   6101   0   119.1   108.7   -2.3   140   0.00 2023-06-11
19  12/06/23  Delhi   6782   0   135.2   122.1   -1.9   245   0.00 2023-06-12
24  13/06/23  Delhi   7043   0   143.6   129.5   -1.7   233   0.00 2023-06-13
20  14/06/23  Delhi   7089   0   142.6   130.4   -2.2   213   0.15 2023-06-14
26  15/06/23  Delhi   6799   0   138.5   125.9   -3.1   135   0.00 2023-06-15
7   16/06/23  Delhi   6587   0   136.8   123.4   -2.2   293   0.00 2023-06-16
15  17/06/23  Delhi   6531   0   132.1   119.5   -2.0   237   0.00 2023-06-17
29  18/06/23  Delhi   6308   0   126.7   112.7   -1.8   111   0.00 2023-06-18
22  19/06/23  Delhi   6255   0   125.2   111.6   -2.0   151   0.00 2023-06-19
28  20/06/23  Delhi   6304   0   128.7   114.6   -1.3   240   0.00 2023-06-20
21  21/06/23  Delhi   6382   0   132.4   119.6   -2.6   189   0.00 2023-06-21
14  22/06/23  Delhi   6880   0   137.3   123.8   -1.1   189   0.03 2023-06-22
5   23/06/23  Delhi   6933   0   143.3   129.8   -2.6   116   0.00 2023-06-23
10  24/06/23  Delhi   6829   0   136.4   123.7   -3.0   185   0.00 2023-06-24
2   25/06/23  Delhi   6283   0   106.7    99.4   -2.4   132   0.00 2023-06-25
23  26/06/23  Delhi   5460   0   114.1   110.1   -1.7   182   0.00 2023-06-26
17  27/06/23  Delhi   5755   0   119.6   115.7   -1.7   239   0.00 2023-06-27
4   28/06/23  Delhi   5980   0   122.5   118.4   -1.8   152   0.00 2023-06-28
13  29/06/23  Delhi   5651   0   115.6   111.3   -1.4   234   0.00 2023-06-29
11  30/06/23  Delhi   5770   0   118.2   115.5   -2.4   206   0.08 2023-06-30

In [13]:
df.to_csv("ndlc_psp_validation.csv")